



---
DynamicLayers
--- */
@import url('https://fonts.googleapis.com/css?family=Lato|Prata|Work+Sans:600&display=swap');

/*
1.0 Common Styles
*/
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #777;
    font-weight: 400;
    letter-spacing: -0.2px;
    position: relative;
    overflow-x: hidden;
}
h1{
    font-family: 'Prata', sans-serif;
    -webkit-font-smoothing:antialiased;
    color: #fff;
}
h2, h3, h4, h5, h6{
    font-family: 'Prata', sans-serif;
    -webkit-font-smoothing:antialiased;
    color: #282828;
}
h1{
    font-size: 52px;
    line-height: 62px;
    margin: 0 0 10px;
    letter-spacing: -0.02em;
    font-weight: 400;
}
h2{
    font-size: 36px;
    color: #303133;
    margin: 0 0 8px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.04em;
}
h3,h4{
    margin: 0 0 10px;
    font-weight: 400;
    line-height: 1.4;
    color: #303133;
    letter-spacing: -0.01em;
}
h3{
    font-size: 17px;
}
h4{
    font-size: 15px;
}
h5,h6{
    font-size: 14px;
    margin: 0 0 10px;
}
img{
    border: none;
    outline:none;
}
ul{
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}
p, li, a, span{}
p{
    font-size: 16px;
    margin-bottom: 15px;
}
a, a:hover{
    text-decoration: none;
}
a:focus{
    outline: 0;
    text-decoration: none;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #9e8a78;
}

::selection {
    background-color: #9e8a78;
    color: #fff
}

-webkit-::selection {
    background-color: #9e8a78;
    color: #fff
}

::-moz-selection {
    background-color: #9e8a78;
    color: #fff
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
   color: #888 !important;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ /* Firefox 18- */
   color: #888 !important;
}

input::-moz-placeholder,
textarea::-moz-placeholder{  /* Firefox 19+ */
   color: #888 !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder{
   color: #888 !important;
}
button{
    border: none;
    background: none;
}
/* Helper Class */
.padding{
    padding: 80px 0;
}
.no-padding{
    padding: 0;
}
.padding-10{padding: 10px;}
.padding-15{padding: 15px;}
.mb-10{ margin-bottom: 10px; }
.mb-15{ margin-bottom: 15px; }
.mb-20{ margin-bottom: 20px; }
.mb-25{ margin-bottom: 25px; }
.mb-30{ margin-bottom: 30px; }
.mb-35{ margin-bottom: 35px; }
.mb-40{ margin-bottom: 40px; }
.mb-45{ margin-bottom: 45px; }
.mb-50{ margin-bottom: 50px; }
.mt-20{ margin-top: 20px; }
.mt-30{ margin-top: 30px; }
.mt-40{ margin-top: 40px; }
.ml-5{ margin-left: 5px; }
.ml-10{ margin-left: 10px; }
.mt-15{ margin-left: 15px; }
.fz-28{ font-size: 28px; }
.fz-24{ font-size: 24px; }
.fz-22{ font-size: 22px; }
.fz-20{ font-size: 20px; }
.fz-18{ font-size: 18px; }
.fz-16{ font-size: 16px; }
.display-block{ display: block; }
.text-black{
    color: #282828;
}
.text-white{
    color: #ffffff;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
.align-center{
    text-align: center;
}
.fl-right{
    float: right;
}
.fl-left{
    float: left;
}
.overlay{
    width: 100%;
    position: relative;
    z-index: 1;
}
.overlay:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.bg-grey{
    background-color: #fcf9f5;
}
.bd-bottom{
    border-bottom: 2px solid #eee;
}
.bg-dark{
    background-color: #222227;
}

/* Preloader Styles */
#preloader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #fff;
    height: 100%;
    width: 100%;
    -webkit-transition: all .5s .5s ease;
    -moz-transition: all .5s .5s ease;
    transition: all .5s .2s ease;
}
.loader{
    position:absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 80px;
    height: 80px;
    display: block;
    margin: auto;
    margin-top: -30px;
}
body.loaded #preloader{
    opacity: 0;
    visibility: hidden;
}

/* Button Style */
.btn_group{}
.btn_group a{
    margin: 5px;
}
.default_btn{
    font-family: "Work Sans",sans-serif;
    letter-spacing: 0;
    background-color: #9e8a78;
    color: #fff;
    line-height: 45px;
    display: inline-block;
    padding: 0 25px;
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
     -o-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.default_btn:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #222227;
    -webkit-transform-origin: right center;
       -moz-transform-origin: right center;
        -ms-transform-origin: right center;
            transform-origin: right center;
    -webkit-transform: scale(0, 1);
       -moz-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
         -o-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
       -moz-transition: -moz-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        -ms-transition: -ms-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
         -o-transition: -o-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}
.default_btn:hover{
    color: #fff;
}
.default_btn:hover:before{
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
        transform-origin: left center;
    -webkit-transform: scale(1, 1);
       -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
         -o-transform: scale(1, 1);
            transform: scale(1, 1);
}

.default_btn.btn_sm{
    line-height: 40px;
    padding: 0 15px;
}
/*Section Heading*/
.section_heading{
}
.section_heading h3{
    color: #9e8a78;
    font-weight: 400;
}
.section_heading h2{
    font-size: 36px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: 0;
}
.heading-line{
    margin-top: 20px;
    height: 10px;
    background: url(../img/heading-line.png) center center no-repeat;
    position: relative;
}
/* Transition Effect */
a,a:hover, .overlay, img, .form-control,  .form-control:hover, button{
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
/* ==========================================================================
   Header Section
   ========================================================================== */
.header-section{
    background-color: #222227;
    width: 100%;
    height: 80px;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.navbar-fixed-top.header-section{
    background-color: #222227;
    -moz-box-shadow: 0 2px 5px rgba(16,16,16,.08);
    -webkit-box-shadow: 0 2px 5px rgba(16,16,16,.08);
    box-shadow: 0 2px 5px rgba(16,16,16,.08);
    height: 80px;
    border-bottom: 0;
    padding: 0;
}

.navbar-fixed-top ul.nav > li > a{
    color: #ddd;
}
.navbar-fixed-top ul.nav > li > a:hover,
.navbar-fixed-top ul.nav > li > a:focus,
.navbar-fixed-top ul.nav > li.active > a{
    color: #ddd;
}
.logo-light,
.navbar-fixed-top .logo-light,
.logo-dark,
.navbar-fixed-top .logo-dark,
.navbar-fixed-top.header-section,
.header-section{
    transition: all 0.3s ease-in-out;
}
.navbar{
    border: medium none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin: 0;
    position: relative;
    padding: 0;
}
.navbar-header {
    padding: 17px 0;
}
.navbar-header .brand{
    font-size: 25px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -1px;
    font-weight: 600;
	margin-left: 13px;
}
.navbar-header .nav-btn{
    padding: 8px;
    border-radius: 1px;
}
.navbar-header .nav-btn .icon-bar{
    background-color: #fff;
    width: 18px;
}
.navbar-fixed-top .navbar-header .nav-btn .icon-bar{
    background-color: #777;
}
.navbar-header .nav-btn:hover,
.navbar-header .nav-btn:focus{
    opacity: 0.8;
}

/*Dropdown Style
==================*/
#mainmenu li ul{
    background-color: #222227;
    width: 200px;
    height: auto;
    position: absolute;
    left: 0;
    top: 140%;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 999;
}
#mainmenu li:hover > ul{
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    top: 100%;
}
#mainmenu li ul li{
    border-bottom: 1px solid #333;
    display: block;
    position: relative;
    padding: 0;
}
#mainmenu li ul li:last-child{
    border: none;
}
#mainmenu li ul li a{
    font-family: 'Work Sans', sans-serif;
    line-height: 45px;
    display: block;
    padding: 0 15px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.2px;
    color: #ddd;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease 0s, padding 0.3s ease 0s;
    transition: color 0.3s ease 0s, padding 0.3s ease 0s;
}
#mainmenu li > ul > li:hover a{
    background-color: #9e8a78;
    color: #fff;
}
#mainmenu li > ul ul{
    background-color: #fff;
    left: 200px;
}
#mainmenu li > ul li:hover > ul li a{
    color: #777;
}
#mainmenu li ul li:hover > ul{
    top: 0;
    opacity: 1;
    visibility: visible;
}
#mainmenu li > ul li:hover > ul li > a:hover{
    background-color: transparent;
    color: #fff;
}
#mainmenu li ul li li a:hover{
    color: #ffca3f !important;
}
/* Nav Menu */
#navbar{
    z-index: 999;
    padding: 0 15px;
}
ul.nav{}
ul.nav > li{
    position: relative;
}
ul.nav > li > a{
    color: #ddd;
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 80px;
    z-index: 1;
}

ul.nav li.phone{
    font-size: 14px;
    font-family: "Poppins",sans-serif;
    color: #ddd;
    font-weight: 600;
    line-height: 80px;
    padding-left: 50px;
}
ul.nav li.phone i{
    color: #9e8a78;
    margin-right: 5px;
}

ul.nav > li > a:hover,
ul.nav > li > a:focus,
ul.nav > li > a.active{
    background: none;
    color: #fff;
    opacity: 1;
}
.menu-btn{
    margin-left: 10px;
    margin-top: 10px;
}

/* Header Btn
===============*/
.header-btn{
    margin-left: 10px;
}
.header-btn .menu-btn{
    background-color: #9e8a78;
    font-family: "Work Sans",sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    padding: 0 30px;
    height: 45px;
    line-height: 45px;
    display: block;
    margin: 0;
}
.header-btn .menu-btn:hover{
    opacity: 0.8;
}
/*Mobile Menu */
.menu-wrap{
    position: relative;
}
.slicknav_menu {
    background: none;
    padding: 4px 0;
    display:none;
    width: 100%;
    position: absolute;
    right: 0;
    top: 70px;
    z-index: 1;
}
.slicknav_nav {
    background-color: #fff;
}
.slicknav_btn{
    background-color: transparent;
    margin: -51px 0px 0px;
}
.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_row,
.slicknav_nav a,
.slicknav_nav a:hover{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.slicknav_nav .slicknav_row,
.slicknav_nav a {
    padding: 10px 15px;
    margin: 0;
    color: #777;
}
.slicknav_nav a .caret{
    display: none;
}
.slicknav_nav ul{
    margin: 0;
}
.slicknav_nav ul li a{
    padding-left: 30px;
    font-size: 12px;
}
.slicknav_nav .slicknav_row:hover,
.slicknav_nav a:hover{
    background-color: transparent;
    color: #333;
}

/* ==========================================================================
    3.0 Slider Section
   ========================================================================== */
.slider_section{}
.main_slide{
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    height: 670px;
}
.slider_content{}
.slider_content h3{
    margin-bottom: 20px;
    color: #ddd;
}
.slider_content h1{
    margin-bottom: 20px;
    color: #fff;
}
.slider_content p{
    margin-bottom: 20px;
    color: #ddd;
}
.main_slider .owl-nav{}
.main_slider .owl-nav div{
    color: #fff;
    width: 60px;
    height: 100px;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
    position: absolute;
    left: 0;
    top: calc(50% - 60px);
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}
.main_slider .owl-nav div:hover{
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.main_slider .owl-nav div.owl-next{
    left: auto;
    right: 0;
}
.main_slider .owl-dots{
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 25px;
}
.main_slider .owl-dots div{
    background-color: rgba(255,255,255,0.4);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    transition: all 0.5s ease-in-out;
}
.main_slider .owl-dots div.active{
    background-color: rgba(255,255,255,1);
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
    transition: all 0.5s ease-in-out;
}

/* Hero w/ Background Video */
.hero_section{
    background-image: url("../img/hero-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
}
.hero_section .video_bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.hero_section .YTPOverlay{
    background-color: rgba(17,17,17,0.6);
}
.hero_section .hero_content{}
.hero_section .hero_content h3{
    color: #fff;
    margin-bottom: 20px;
}
.hero_section .hero_content h1{
    margin-bottom: 20px;
}
.hero_section .hero_content p{
    margin-bottom: 30px;
    color: #fff;
}

/* ==========================================================================
    4.0 About Section
   ========================================================================== */
.about_section{}
.about_section h3{}
.about_content h2{
    font-size: 36px;
    line-height: 46px;
    color: #9e8a78;
    margin-bottom: 30px;
}
.about_content p{
    margin-bottom: 30px;
}
.about_section .about_content{}
.about_section .about_content img{
    margin-bottom: 20px;
}
.about_section .about_img img{
    width: 60%;
    border-radius: 5px;
    box-shadow: 0px 16px 28px 0px rgba(0, 0, 0, 0.20);
}
.about_section .about_img_2{
    margin: -180px 0 0 270px;
}
.about_section .about_img_3{
    margin: -260px 0 0 40px;
}
/*About Style 2
================*/
.about_video{
    position: relative;
}
.about_video img{
    border-radius: 3px;
    width: 100%;
}

.play-icon{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
}
.play-icon a{
    background-color: #fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    color: #9e8a78;
    font-weight: bold;
    display: block;
    transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
    -webkit-animation: btn-anim 1s linear infinite;
    animation: btn-anim 1s linear infinite;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
@keyframes btn-anim {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1);
    }

    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0);
    }
}
/* ==========================================================================
  Why Us Section
   ========================================================================== */
.why_section{
    position: relative;
}
.why_img{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.why_img .img{
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: 0;
    top: 0;
}
.why_section {}
.why_contant {
    padding: 100px 0;
    padding-left: 15px;
}

why_section ul.list li{
    display: block;
    color: #777;
    font-size: 16px;
    padding-left: 35px;
    position: relative;
    margin-bottom: 20px;
}
why_section ul.list li:before{
    background-color: #9e8a78;
    font-family: 'ElegantIcons';
    content:  "\4e";
    color: #fff;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    font-family: 'ElegantIcons';
    content: "\4e";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}
/* ==========================================================================
   9.0 Service Section
   ========================================================================== */
.service_section{}
.service_content img{
    width: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
}
.service_content h3{
    font-size: 20px;
}
.service_content img:hover{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.service_items .col-xs-6{
    padding: 15px;
}
.service_item{
    position: relative;
    overflow: hidden;
    color: #ddd;
    border-radius: 10px;
}
.service_item h3{
    color: #fff;
}
.service_item img{
    transition: all 0.9s ease-in-out;
    width: 100%;
}
.service_item:hover img{
    -webkit-filter: grayscale(1);
	filter: grayscale(1);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 1s ease-in-out;
}
.service_item .post_info{
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.service_item .post_info a:hover{
    text-decoration: underline;
    opacity: 1;
}

